:root {
    --text-success-light: #4ade80;
    --navbar-height: 65px;
}

/* 1. Global Reset & Flex Layout */
html, body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    font-family: 'Inter', sans-serif;
    color: #fff;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Sayfaların içeriğini Navbar ve Footer arasına tam yayan sihirli sınıf */
.main-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* 2. Navbar Özelleştirme */
.navbar {
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

/* 3. Footer */
footer {
    /* background-color: #f8f9fa; */
    /* color: white; */
    padding: 20px 0;
    /* border-top: 1px solid #dee2e6; */
}

#nav-profile-menu .nav-link:after {
    display: none; /* Dropdown okunu gizlemek daha modern durur */
}

#nav-profile-menu img:hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}

/* Sidebar Konteyner */
#sidebar {
    background-color: #212529; /* Koyu tema */
    transition: all 0.3s;
    width: 240px;
    min-width: 240px;
}

/* Linklerin Genel Hali */
.sidebar-link {
    background-color: transparent !important;
    color: #adb5bd !important;
    border: none !important;
    transition: all 0.2s ease-in-out;
    border-left: 4px solid transparent;
}

/* Hover Efekti */
.sidebar-link:hover {
    color: #fff !important;
    background-color: #2c3136 !important;
    padding-left: 25px !important;
}

/* Seçili (Active) Sekme */
.sidebar-link.active {
    color: #fff !important;
    background-color: #198754 !important;
    border-left: 4px solid #fff !important; 
    font-weight: 600;
}

/* İkonlar için küçük bir dokunuş */
.sidebar-link i {
    font-size: 1.1rem;
    vertical-align: middle;
}